<%- include('../includes/head.ejs') %>
</head>

<body>
<%- include('../includes/navigation.ejs') %>
<main>
    <ul>
        <% for (products of cartProducts){ %>
            <li>
                <%= products.title %>
            </li>
        <% } %>
    </ul>
</main>
<%- include('../includes/end.ejs') %>